:root {
    /* COLORS */
    --header-outline: hsl(217, 16%, 45%);
    --bg-light-1: #f3f3f3;
    --bg-light-2: #dadada;
    --color-hover: #979797;
    --shadow-light: #babfd4;
    --shadow-mint: rgba(0, 0, 0, 0.35);
    --color-white: #fff;
    --text-dark: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --bg-dark-1: hsl(214, 47%, 23%);
    --bg-dark-2: hsl(237, 49%, 15%);
    --color-danger: #db2e4d;
    --scissors-grade-1: hsl(39, 89%, 49%);
    --scissors-grade-2: hsl(40, 84%, 53%);
    --paper-grade-1: hsl(230, 89%, 62%);
    --paper-grade-2: hsl(230, 89%, 65%);
    --rock-grade-1: hsl(349, 71%, 52%);
    --rock-grade-2: hsl(349, 70%, 56%);
}

/* ---------------------------------------- */
/* RESET BROWSER DEFAULTS*/
/* ---------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.6rem;
    color: var(--color-white);
    font-weight: 600;
    text-transform: uppercase;
    background: radial-gradient(at top, var(--bg-dark-1), var(--bg-dark-2));
    min-height: 100vh;
}

/* ---------------------------------------- */
/* Initialize base styles for some elements */
/* ---------------------------------------- */
h1 {
    font-size: 5.6rem;
    color: var(--color-white);
}

h2 {
    font-size: 5rem;
    color: var(--text-dark);
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 1.4rem;
    color: var(--score-text);
    letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 1rem;
        letter-spacing: 1.56px;
    }
}

span {
    font-size: 2.4rem;
    color: var(--color-white);
    letter-spacing: 3px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    span {
        font-size: 1.5rem;
        letter-spacing: 1.88px;
        font-weight: 700;
    }
}

/* ---------------------------------------- */
/* RESUSABLE CLASSES */
/* ---------------------------------------- */

/* .............. FLEX ............... */
.container {
    position: relative;
    max-width: 70rem;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 32rem;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 0.5s;
}

.center {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* ............... GRID .............. */
.d-grid {
    display: grid;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.place-items-center {
    place-items: center;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
    justify-self: center;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

/* .......... MARGINS ........... */
.mt-3 {
    margin-top: 3rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

/* .......... PADDINGS ........... */
.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-5 {
    padding: 5rem;
}

.p-10 {
    padding: 10rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-5 {
    padding-top: 5rem;
}

.pt-8 {
    padding-top: 8rem;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

/* .......... GAPS ........... */
.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

.g-3 {
    gap: 3rem;
}

.g-5 {
    gap: 5rem;
}

.g-10 {
    gap: 10rem;
}

/* ......... HIDING ELEMENTS ........ */
.hide {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 0.5s;
}

.display-none {
    display: none;
}

/* ---------------------------------------- */
/* RESUSABLE COMPONENTS */
/* ---------------------------------------- */
/* ..... BUTTON COMPONENT...... */
.btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: inherit;
    letter-spacing: 2.5px;
    text-transform: inherit;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 1rem 3.5rem;
}

.btn--long {
    padding: 1rem 5rem;
}

.btn--primary {
    background: linear-gradient(
        to bottom right,
        var(--bg-light-1),
        var(--bg-light-2)
    );
    color: var(--text-dark);
}

.btn--primary:hover {
    color: var(--color-danger);
}

.btn--outline {
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.btn--outline:hover {
    background: linear-gradient(
        to bottom right,
        var(--bg-light-1),
        var(--bg-light-2)
    );
    color: var(--text-dark);
}

/* ---------------------------------------- */
/* HEADER SECTION */
/* ---------------------------------------- */
.header {
    height: 15rem;
    border: 3px solid var(--header-outline);
    border-radius: 1rem;
}

.logo img {
    height: 100%;
}

.score {
    background: linear-gradient(
        to bottom right,
        var(--bg-light-1),
        var(--bg-light-2)
    );
    border-radius: 1rem;
    width: 15rem;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        height: 9.6rem;
        border: 3px solid var(--header-outline);
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .logo {
        height: 90%;
    }

    .score {
        width: 8rem;
        border-radius: 0.6rem;
    }
}

/* ---------------------------------------- */
/* GAME SECTION */
/* ---------------------------------------- */
.game {
    position: relative;
    grid-template-areas:
        "paper scissors"
        "rock rock";
    height: 43rem;
}

.game::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 28%;
    top: 25%;
    background: url(/images/bg-triangle.svg) no-repeat;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .game {
        height: 28.2rem;
        margin-top: 15rem;
    }
}

.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.choice-btn[data-choice="paper"] {
    grid-area: paper;
}

.choice-btn[data-choice="scissors"] {
    grid-area: scissors;
}

.choice-btn[data-choice="rock"] {
    grid-area: rock;
}

.choice {
    position: relative;
    width: 15.2rem;
    height: 15.2rem;
    background: linear-gradient(
        to bottom right,
        var(--bg-light-1),
        var(--bg-light-2)
    );
    border-radius: 50%;

    box-shadow: inset 0 0.6rem var(--shadow-light);
}

.choice img {
    transform: scale(1.5);
}

.choice::before {
    content: "";
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    z-index: -1;
}

.choice.paper::before {
    background: linear-gradient(
        to bottom,
        var(--paper-grade-1),
        var(--paper-grade-2)
    );

    box-shadow: 0 0.6rem hsla(230, 89%, 62%, 0.85);
}

.choice.scissors::before {
    background: linear-gradient(
        to bottom,
        var(--scissors-grade-1),
        var(--scissors-grade-2)
    );

    box-shadow: 0 0.6rem hsla(39, 89%, 49%, 0.85);
}

.choice.rock::before {
    background: linear-gradient(
        to bottom,
        var(--rock-grade-1),
        var(--rock-grade-2)
    );

    box-shadow: 0 0.6rem hsla(349, 71%, 52%, 0.85);
}

.choice-btn:hover .choice.paper::before,
.choice-btn:hover .choice.scissors::before,
.choice-btn:hover .choice.rock::before {
    box-shadow: 0 0 0 3rem #97979726;
}

@media screen and (max-width: 768px) {
    .choice {
        width: 10rem;
        height: 10rem;
    }

    .choice img {
        transform: scale(0.8);
    }

    .game::before {
        transform: scale(0.6);
        top: 5%;
        left: 2%;
    }

    .choice.paper::before {
        box-shadow: 0 0.5rem hsla(230, 89%, 62%, 0.85);
    }

    .choice.scissors::before {
        box-shadow: 0 0.5rem hsla(39, 89%, 49%, 0.85);
    }

    .choice.rock::before {
        box-shadow: 0 0.5rem hsla(349, 71%, 52%, 0.85);
    }

    .choice-btn:hover .choice.paper::before,
    .choice-btn:hover .choice.scissors::before,
    .choice-btn:hover .choice.rock::before {
        box-shadow: 0 0 0 2rem #97979726;
    }
}

/* ---------------------------------------- */
/* RULES SECTION */
/* ---------------------------------------- */
.rules-btn {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
}

@media screen and (max-width: 768px) {
    .rules-btn {
        right: 50%;
        transform: translateX(50%);
        bottom: 10rem;
    }
}

/* ---------------------------------------- */
/* MODAL SECTION */
/* ---------------------------------------- */
.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    background: rgba(0, 0, 0, 0.5);
    /* pointer-events: none; */
}

.modal__container {
    background: var(--color-white);
    border-radius: 0.5rem;
    grid-template-areas:
        "heading button"
        "image image";
    margin-top: -15rem;
}

.modal__header {
    grid-area: heading;
}

.modal__heading {
    font-size: 3.2rem;
}

.close-btn {
    grid-area: button;
    cursor: pointer;
}

.image__container {
    grid-area: image;
}

@media screen and (max-width: 768px) {
    .modal__container {
        background: var(--color-white);
        border-radius: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "heading"
            "image"
            "button";
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .modal__header {
        grid-area: heading;
        align-self: start;
        justify-self: center;
    }

    .close-btn {
        grid-area: button;
        cursor: pointer;
        align-self: start;
        justify-self: center;
    }

    .image__container {
        grid-area: image;
        align-self: start;
        justify-self: center;
    }
}

/* ---------------------------------------- */
/* RESULTS SECTION */
/* ---------------------------------------- */
.results {
    grid-template-areas:
        "you the-house"
        "you-choice the-house-choice";

    max-width: 100rem;
}

.results__heading:first-of-type {
    grid-area: you;
}

.results__heading:last-of-type {
    grid-area: the-house;
}

.results__result:first-of-type {
    grid-area: you-choice;
}

.results__result:last-of-type {
    grid-area: the-house-choice;
}

.results__result {
    min-width: 15rem;
    min-height: 15rem;
    background: rgba(0, 0, 0, 0.253);
    border-radius: 50%;
    transform: scale(1.4);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .results {
        max-width: 33rem;
        grid-template-areas:
            "you-choice the-house-choice"
            "you the-house";
    }

    .results__result {
        min-width: 10rem;
        min-height: 10rem;
        margin-top: 8rem;
        transform: scale(1);
    }

    .results__heading:first-of-type {
        grid-area: you;
    }

    .results__heading:last-of-type {
        grid-area: the-house;
    }

    .results__result:first-of-type {
        grid-area: you-choice;
    }

    .results__result:last-of-type {
        grid-area: the-house-choice;
    }

    .results__heading {
        margin-top: 5rem;
    }
}

.results.show-winner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "you . the-house"
        "you-choice result-winner the-house-choice";
}

.results__winner {
    grid-area: result-winner;
    margin-bottom: -7rem;
}

.winner .choice::after {
    box-shadow: 0 0 0 60px rgba(132, 129, 172, 0.122),
        0 0 0 100px rgba(166, 162, 210, 0.09),
        0 0 0 150px rgba(73, 70, 100, 0.176);
    /* box-shadow: 0 0 0 150px red; */
    content: "";
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
